script
  $(function() {
      var dt = $( "#datepicker" ).datepicker();
      $( "#datepicker2" ).datepicker();
   });

div#container 
  div#pad	
  div#seleccion
      section#centrado 
        div#consuldiario
          article#consuldiario
            h1 Consultar Tabloide
            <br>
            form(method='POST', action='/search')
              input(type="hidden", name="item",value="diario")
              p Selecciona la fecha: &nbsp
                input(type="text", id="datepicker",name="date", placeholder="Seleccione una Fecha")
              <br>
              input#button(name='diario', type='submit', value='Consultar')

        div#consulsuple
          article#consulsuple
            h1 Consultar Suplemento
            <br>
            form(method='POST', action='/search')
              input(type="hidden", name="item",value="suplemento")
              p Elija un Suplemento: &nbsp
                select(name='suple')
                  option(value='donbalon') Don Balon
                  option(value='marcador') Marcador
                  option(value='gente') Gente   
                  option(value='Justicia') Justicia
                  option(value='local') Local
                | &nbsp
                input(type="text", id="datepicker2",name="date", placeholder="Seleccione una Fecha")
              <br>
              input#button(name= 'diario', type='submit', value='Consultar')

