div#nav
 p#pad Bienvenido, #{currentUser.username} <a href="/logout"> Salir </a> &nbsp &nbsp
  div#logos
    div#UploadBox
      h2#title Subir diario
      span#UploadArea
        form(method='post', action='/upload_diario', enctype='multipart/form-data')
          | Ingresa el archivo : &nbsp
          input(name='diario', type='file')
          <br> <br>
          input(type='submit', class='button', value='Subir')