// script(type='text/javascript')     
//   $(document).ready(function()){
//     //var disabled = $('#boton').attr('disabled');
//     $('#boton', this).attr('disabled', 'disabled');
//     $('#acepta', this).attr('disabled', 'disabled');
//     // activar / desactivar el boton de envio
//       $('#acepta').click(function(){
//         var disabled=$('#boton').attr('disabled');
//           if(disabled) {
//             $('#boton').attr('disabled', false);
//           }else{
//             $('#boton').attr('disabled', 'disabled');
//                }
//       });
//   });

div#nav
 p#pad Bienvenido, #{currentUser.username} <a href="/logout"> Salir </a> &nbsp &nbsp
  div#logos
    div#UploadBox
      h2#title Subir diario
      span#UploadArea
        form(method='post', action='/upload_diario', enctype='multipart/form-data')
          | Ingresa el archivo : &nbsp
          input#adjunto(name='diario', type='file')
          //input(name='nombre', type='text')
          input(name='dia', type='hidden', value="#{new Date()}")
          <br><br>
          | Archivo cargado? &nbsp
          input#acepta(type='checkbox')
          <br> <br>
          input#boton(name= 'enviar', type='submit', class='button', value='Subir', disabled='disabled')