script(type='text/javascript')     
  $(document).ready(function() {
    var btn = $('#boton');
    var adj = $('#adjunto');
    adj.on('change', function () {
      var atr = btn.attr('disabled');
      if (atr && adj.val() != '') {
        btn.removeAttr('disabled');
        btn.removeClass('disabled')
      } else {
        btn.addClass('disabled')
        btn.attr('disabled', true);
      }
    })
  });

div#nav
 p#pad Bienvenido, #{currentUser.username} <a href="/logout"> Salir </a> &nbsp &nbsp
  div#logos
    div#UploadBox
      h2#title Subir diario
      span#UploadArea
        form(method='post', action='/upload_diario', enctype='multipart/form-data')
          | Ingresa el archivo : &nbsp
          input#adjunto(name='diario', type='file')
          input(name='tipo', type='hidden', value="Diario")
          input(name='dia', type='hidden', value="#{new Date()}")
          <br> <br>
          input#boton(name= 'enviar', type='submit', class='button disabled', value='Subir', disabled='disabled')