section#centrado
  div#form
    form#login(method="post", action="/login")
      h1 Login
      fieldset#inputs
        input#username(name= 'user', type='text', placeholder='Username', autofocus='autofocus', required='required')
        input#password(name= 'pass',type='password', placeholder='Password', required='required')
      fieldset#actions
        input#submit(type='submit', value='Entrar')  
      
      //button( type="submit" ) Enviar

