section#centrado
  // Mostrar el formulario para loguearse
  div#form
    form(method="post", action="/login")
      input(name="user", type="text", placeholder="Nombre")
      input(name="pass", type="password", placeholder="Password")
      button( type="submit" ) Enviar

