// Plantilla para el inicio de session administrador
!!! 5
html(lang="es")
  head
    meta(charset="utf-8")
    title inicio
    link(rel='stylesheet', href='/stylesheets/subidas.css')
    script(src='http://www.google.com/jsapi', type='text/javascript')
    script(type='text/javascript', charset='utf-8')
    google.load("jquery", "1.7.2")
  body
    div#contanier
      header
        img(src="/images/logo.png")
        title=title
      #content!= body