!!! 5
html(lang="es")
  head
    header 
    img(src="/images/logo.png")
    title= title 
    script(src='/javascripts/jQueryv1.7.2.js') // JQuery
    script(src='/javascripts/jquery-ui-1.8.21.custom.min.js') // DatePicker
    link(rel='stylesheet', href='/stylesheets/custom-theme/jquery-ui-1.8.21.custom.css') 
    link(rel='stylesheet', href='/stylesheets/usuario.css')
  body!= body