border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
  
box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

// Formulario de login e inicio de session Administrador.
*
  margin: 0
  //background-color: #808080

html
  background: gray

#contanier
  background-color: #808080
  margin: 0 auto
  max-width: 95%
  height: 600px

body
  padding: 10px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00f

p,b,a // Fondo del texto de index administrador
  background-color: white
  border-top-left-radius:(15px)
  border-top-right-radius:(15px)

p#pad
  padding: .5%

#centrado
  background-color: white
  border-radius: 5px
  margin: 0 auto
  max-width: 90%
  height: 300px
  text-align: center



img#dose.dos
  padding: 20px 0px 40px 0px
  height: 50%
  background-color: white

#form
  float: left
  margin-left: 10%
  margin-rigth: 10%
  margin-top: 1%

#login
  box-shadow: 
  0 0 2px rgba(0, 0, 0, 0.2),
  0 1px 1px rgba(0, 0, 0, .2),
  0 3px 0 #fff,
  0 4px 0 rgba(0, 0, 0, .2),
  0 6px 0 #fff,
  0 7px 0 rgba(0, 0, 0, .2)
    //position: absolute
    //z-index: 0
  float: left
  margin-left: 1%
  margin-rigth: 1%
  margin-top: 1%


#login:before
  //content: ''
  //position: absolute
  //z-index: -1
  border: 1px dashed #ccc
  top: 5px
  bottom: 5px
  left: 5px
  right: 5px
  -moz-box-shadow: 0 0 0 1px #fff
  -webkit-box-shadow: 0 0 0 1px #fff
  box-shadow: 0 0 0 1px #fff

h1
  text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5)
  text-transform: uppercase
  text-align: center
  color: #666
  margin: 0 0 30px 0
  letter-spacing: 4px
  font: normal 26px/1 Verdana, Helvetica
  position: relative

h1:after, h1:before
  background-color: #777
  //content: ""
  height: 1px
  //position: absolute
  top: 15px
  width: 120px

h2#texto
  color black

#inputs input
  -webkit-box-shadow: #CCCCCC 0 1px 1px inset, #FFFFFF 0 1px 0
  background-color: #F1F1F1
  background-image: url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png)
  background-position: initial initial
  background-repeat: no-repeat no-repeat
  border: 1px solid #CCCCCC
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  box-shadow: #CCCCCC 0 1px 1px inset, #FFFFFF 0 1px 0
  margin: 0 0 10px
  padding: 15px 15px 15px 30px
  width: 352px

#username
  background-position: 5px -2px !important

#password
  background-position: 5px -52px !important

#inputs
  border: none

#inputs input:focus
  -webkit-box-shadow: #E8C291 0 0 0 1px inset
  background-color: #FFFFFF
  border-color: #E8C291
  box-shadow: #E8C291 0 0 0 1px inset
  outline: none

#actions
  border: none
  margin: 25px 0 0

#submit
  -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0 0 1px, rgba(255, 255, 255, 0.296875) 0 1px 0 inset
  background-color: #FFB94B
  background-image: -webkit-linear-gradient(top, #FDDB6F, #FFB94B)
  border-bottom-left-radius: 3px
  border-bottom-right-radius: 3px
  border-color: #D69E31 #E3A037 #D5982D
  border-style: solid
  border-top-left-radius: 3px
  border-top-right-radius: 3px
  border-width: 1px
  box-shadow: rgba(0, 0, 0, 0.296875) 0 0 1px, rgba(255, 255, 255, 0.296875) 0 1px 0 inset
  color: #8F5A0A
  cursor: pointer
  float: left
  font-family: Arial, Helvetica
  font-size: 15px
  font-style: normal
  font-variant: normal
  font-weight: bold
  height: 35px
  line-height: normal
  padding: 0
  text-shadow: rgba(255, 255, 255, 0.496094) 0 1px 0
  width: 120px
  margin-left:40%


// pagina Administrador
#nav
  font-weight: true
  text-align: right
  

#logos
  background-color: #CCCCCC
  text-align: center
  padding: 10px
  border-bottom-left-radius:(15px)
  border-bottom-right-radius:(15px)
  box-shadow: -10px 10px 12px rgba(50, 50, 50, 0.85);

article
  display: inline-block

article#diario
  margin-right: 30%
  padding: 2%

article#suplemento
  //margin-left: 50%
  padding: 2% 


@media screen and (max-width:800px)
  #contanier
    background-color: #808080
    height: 450px

  header img
    height: 17%

  img#dose.dos
    padding: 20px 0px 40px 0px
    height: 30%

