* {
  margin: 0;
  background-color: #808080;
}
#contanier {
  background-color: #808080;
  margin: 0 auto;
  max-width: 95%;
  height: 600px;
}
body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00f;
}
p,
b,
a {
  background-color: #fff;
}
#centrado {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 90%;
  height: 300px;
  text-align: center;
}
img#dose.dos {
  padding: 20px 0px 40px 0px;
  height: 50%;
  background-color: #fff;
}
#form {
  float: left;
}
@media screen and (max-width:800px) {
  #contanier {
    background-color: #808080;
    height: 450px;
  }
  header img {
    height: 17%;
  }
  img#dose.dos {
    padding: 20px 0px 40px 0px;
    height: 30%;
  }
}
