*
  margin: 0

html
  background: #808080

input.button
  background-color: #ffb94b
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  border: 1px solid #ffb94b
  bottom: 20px
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 3px rgba(255,255,255,0.4)
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 3px rgba(255,255,255,0.4)
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 3px rgba(255,255,255,0.4)
  color: #8f5a0a
  cursor: pointer
  font-size: 15px
  font-family: Arial, Helvetica
  font-style: normal
  font-variant: normal
  font-weight: blod
  padding: 8px 30px
  right: 20px
  text-shadow: 0px -1px 0px rgba(0,0,0,0.1), 0px 1px 0px #912391

#contanier
  background-color: #808080
  height: 600px
  margin: 0 auto
  max-width: 95%

#nav
  font-weight: true
  text-align: right

h2#title
  font-size: 35px
  margin-top: 6px
  margin-bottom: 10px

p#pad
  background-color: #fff
  border-top-left-radius: 15px
  border-top-right-radius: 15px
  padding: 0.5%

#logos
  background-color: #ccc
  border-bottom-left-radius: 15px
  border-bottom-right-radius: 15px
  -webkit-box-shadow: -10px 10px 12px rgba(50,50,50,0.85)
  -moz-box-shadow: -10px 10px 12px rgba(50,50,50,0.85)
  box-shadow: -10px 10px 12px rgba(50,50,50,0.85)
  padding: 10px
  text-align: center

#UploadBox
  background: #fff
  -webkit-border-radius: 11px
  -moz-border-radius: 11px
  border-radius: 11px
  border: 1px solid #dfdfdf
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2)
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2)
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2)
  margin-bottom: 1%
  margin-top: 1%
  margin-left: 20%
  margin-right: 20%
  padding: 30px

.disabled
  background: #ccc !important
  cursor: wait !important

