* {
  margin: 0;
}
html {
  background: #d0d0d0;
}
img {
  margin-left: 2%;
}
p {
  font-family: Arial, Verdana, Helvetica;
  font-size: 0.9em;
}
#contanier {
  background-color: #808080;
  height: 600px;
  margin: 0 auto;
  max-width: 95%;
}
#pad {
  background-color: #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 0.7em;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0.5%;
}
#seleccion {
  -moz-box-shadow: -10px 10px 12px rgba(50,50,50,0.85);
  -webkit-box-shadow: -10px 10px 12px rgba(50,50,50,0.85);
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: -10px 10px 12px rgba(50,50,50,0.85);
  margin-left: 3%;
  margin-right: 3%;
  padding: 10px;
  text-align: center;
  height: 200px;
}
article {
  display: inline-block;
  padding: 1em;
}
div#consuldiario {
  float: left;
  height: auto;
  width: 50%;
}
div#consulsuple {
  float: left;
  height: auto;
  width: 50%;
}
article#consulsuple {
  width: 70%;
}
input#button {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 3px rgba(255,255,255,0.4);
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 3px rgba(255,255,255,0.4);
  background-color: #ffb94b;
  border-radius: 3px;
  border: 1px solid #ffb94b;
  bottom: 20px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 3px rgba(255,255,255,0.4);
  color: #8f5a0a;
  cursor: pointer;
  font-family: Arial, Helvetica;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: blod;
  padding: 8px 30px;
  right: 20px;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.1), 0px 1px 0px #912391;
}
input#buttonsuple {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 3px rgba(255,255,255,0.4);
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 3px rgba(255,255,255,0.4);
  background-color: #ffb94b;
  border-radius: 3px;
  border: 1px solid #ffb94b;
  bottom: 20px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 3px rgba(255,255,255,0.4);
  color: #8f5a0a;
  cursor: pointer;
  font-family: Arial, Helvetica;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: blod;
  padding: 2px 11px;
  right: 20px;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.1), 0px 1px 0px #912391;
}
